/* Global Layout Set-up */
* {
  box-sizing: border-box;
}
body{
  background-color: #eeeeee;
}
main {
  margin: 0;
  padding: 0;
  text-align: center;
  font-family: 'Roboto', sans-serif;
  color: #222;
}
/* Link Styles */

a {
  text-decoration: none;
  color: white;
}
a:hover {
  color: grey;
}


/* Section Styles */



#experience{
  background-image:url("images/clouds.jpg");
}

.main-nav {
  width: 100%;
  background: black;
  min-height: 30px;
  padding: 10px;
  position: fixed;
  font-family: arial, serif;
}
.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-weight: 700;
  list-style-type: none;
  margin: auto;
  padding: 0;
}
.top-left-nav{
  display: flex;
  align-items: center;
  justify-content: flex-start;
  min-width: 300px;
}
.github{
  width: 32px;
  height: 32px;
  margin: 10px;
  background-image: url("images/github.png");
}
.linkedin{
  width: 32px;
  height: 32px;
  margin: 10px;
  background-image: url("images/linkedin.png");
}
.github:hover{
  background-image: url("images/github_hover.png");
  transition: 1s;
}
.linkedin:hover{
  background-image: url("images/linkedin_hover.png");
  transition: 1s;
}

.goals{
  float: right;
}

.top-right-nav{
  display: flex;
  justify-content: flex-end;
  min-width: 300px;
}
.mid-nav{
  text-align: center;
}

.nav .name {
    display: block;
    margin-right: auto;
    color: white;
}
.nav li {
  padding: 5px 10px 10px 10px;
}
.nav a {
  transition: all .5s;
  padding: 20px;
  margin: auto;
}
.nav a:hover {
  color: #72e3ff;
}

.hero{
  font-family: arial, sans-serif;
  text-align: center;
  margin-top: 10%;
}

.row-container{
  display: flex;
  justify-content: center;
}
.row-cell{
  width:35%;
}
.cut-one{
    clip-path: polygon(0% 0%,80% 0%,100% 100%,0% 100%);
}
.cut-two{
  clip-path: polygon(0% 0%,100% 0%,100% 100%,20% 100%);
}

#scroll-nav{
  transition: 1s;
}

h1{
  font-size: 80px;
  color: white;
}
h2{
  color: white;
  margin-top: -80px;
}
h3{
  color: black;
  font-size: 50px;
  font-family: 'Roboto', serif;
  margin:0 0;
}

#ICON {
  text-align: left;
  line-height: 200px;
}
#USAF{
  line-height: 200px;
  text-align: right;
}

header {
  text-align: center;
  padding-top: 60px;
}
header {
  line-height: 1.5;
}
.profile-image {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  border: 3px solid white;
  transition: all .5s;
}
.profile-image:hover {
  transform: scale(1.2) rotate(180deg);
}

.tag {
  color: white;
  display: table;
  margin: 10px auto;
}
.location {
  background-color: #222;
  color: white;
}


.card {
  margin: 30px;
  padding: 20px;
  width: 30%;
  text-align: left;
  background: #fff;
  border-bottom: 4px solid #ccc;
  border-radius: 6px;
  transition: all .5s;
}
.card:hover {
  border-color: #63b4ff;
}

ul.skills {
  padding: 0;
  text-align: center;
}

.skills li {
  display: inline-block;
  color: blue;
  margin: 2px;
}

.skills li:nth-child(odd) {
  color: red;
}


footer {
  display:flex;
  justify-content: center;
  align-items: center;
  font-family: 'Roboto';
  width: 100%;
  min-height: 30px;
  padding: 20px 0 40px 20px;
}

footer .copyright {
  top: -8px;
  font-size: .75em;
}

footer ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

footer ul li {
  display: inline-block;
}

.clearfix {
  clear: both;
}

/* Styles for larger screens */
@media screen and (min-width: 720px) {

  .flex {
      max-width: 1200px;
      margin: 50px auto;
      background-image: url("images/portrait.png");
      background-repeat: no-repeat;
      background-position: center;
      min-height: 1200px;
  }

  header {
    max-width: 100%;
    min-height: 700px;
    background-color: white;
    background-repeat: no-repeat;
    background-image: url("images/hero.png");
    background-position: 50% 65%;
  }
  .nav {
    max-width: 1200px;
    padding: 0 20px;
  }


  main {
    padding-top: 20px;
  }

  main p {
    line-height: 1.6em;
  }

  footer {
    font-size: 1.3em;
    max-width: 1200px;
    margin: 40px auto;
  }

}
